@model List<documentos>
@{
    ViewBag.Title = "Index";
}

<h2>
    <a href="@Url.Action("Nuevo","Documento")" class="btn btn-primary">Agregar documento</a>
    Listado de documentos</h2>
<hr />
<table class="table table-responsive">
    <thead>
        <tr>
            <td>doc_id</td>
            <td>doc_nombre</td>
            <td>doc_autor</td>
            <td>doc_institucion</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var documento in Model)
        {
        <tr>
            <td>@documento.doc_id</td>
            <td>@documento.doc_nombre</td>
            <td>@documento.doc_autor</td>
            <td>@documento.doc_institucion</td>
            <td><a href="@Url.Action("Actualizar","Documento", new { id = documento.doc_id })" class="btn btn-success">Actualizar</a>
                <a href="@Url.Action("Eliminar","Documento", new { id = documento.doc_id })" class="btn btn-danger">Eliminar</a>
                <a href="@Url.Action("Detalle","Documento", new { id = documento.doc_id })" class="btn btn-default">Detalle</a>
            </td>
        </tr>
        }
    </tbody>
</table>

